.App {
  text-align: center;
}

.default{
  color: inherit;
}
.red{
  color: #A62014;
}
.heartDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
  z-index: 10;
}
.heartDivMain{
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 8px;
}
.CardHeartIcon{
  width: 40px;
}